<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IExternal">
                    <security mode="Transport"/>
                </binding>
                <binding name="BasicHttpBinding_IExternal1"/>
                <binding name="BasicHttpBinding_IExternal2">
                    <security mode="Transport"/>
                </binding>
                <binding name="BasicHttpBinding_IExternal3"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://animaltracecsi.nait.co.nz/External.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExternal" contract="NaitServiceProduction.IExternal" name="BasicHttpBinding_IExternal"/>
            <endpoint address="https://animaltracecsi-uat.nait.co.nz/External.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExternal2" contract="NaitService.IExternal" name="BasicHttpBinding_IExternal1"/>
        </client>
    </system.serviceModel>
</configuration>
